.wrapper {
  padding: 30px;

  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  form {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      button {
        flex: 1;
      }
    }
  }
}
