<div
  class="container"
  [class.is-mobile]="isMobile"
  (click)="isProfileOpen = false"
>
  <div class="side-nav" [class.isNavClosed]="!isNavOpen">
    <div class="branding">
      <img src="logo.svg" alt="logo" />
      <div *ngIf="isNavOpen">Budget Tracker</div>
    </div>

    <div class="nav-items">
      @for (nav of navItems; track nav.name) {

      <a
        [routerLink]="nav?.link"
        routerLinkActive="active"
        class="item"
        (click)="nav.action ? nav.action() : null"
      >
        <mat-icon [fontIcon]="nav.icon"></mat-icon>
        <span *ngIf="isNavOpen">{{ nav.name }}</span>
      </a>
      }
    </div>
  </div>

  <div class="content">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon>sort</mat-icon>
      </button>

      <div class="icons">
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>

        <img
          src="avatar.png"
          alt="Avatar"
          (click)="toggleProfile(); $event.stopPropagation()"
        />
      </div>
    </mat-toolbar>

    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="profile-dropdown" *ngIf="isProfileOpen">
  <div class="details">
    <img src="avatar.png" alt="Avatar" />

    <div class="text">
      <div class="name">{{ user.firstName + " " + user.lastName }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
  </div>

  <div class="line"></div>

  <div class="actions">
    <button mat-button>
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>

    <button mat-button (click)="handleLogout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</div>
