<div class="container" [class.is-mobile]="isMobile">
  <div class="side-nav" [class.isNavClosed]="!isNavOpen">
    <div class="branding">
      <img src="logo.svg" alt="logo" />
      <div *ngIf="isNavOpen">Budget Tracker</div>
    </div>

    <div class="nav-items">
      @for (nav of navItems; track nav.name) {

      <a
        [routerLink]="nav?.link"
        routerLinkActive="active"
        class="item"
        (click)="nav.action ? nav.action() : null"
      >
        <mat-icon [fontIcon]="nav.icon"></mat-icon>
        <span *ngIf="isNavOpen">{{ nav.name }}</span>
      </a>
      }
    </div>
  </div>

  <div class="content">
    <app-toolbar mode="action" (buttonClicked)="toggleSideNav()"></app-toolbar>

    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
