<app-header
  title="Expenses"
  buttonLabel="Add Expenses"
  (buttonClicked)="openAddExpenseDialogue()"
></app-header>

<table mat-table #table [dataSource]="expenses">
  <ng-container matColumnDef="expense">
    <th mat-header-cell *matHeaderCellDef>Expense</th>
    <td mat-cell *matCellDef="let row">{{ row.title }}</td>
  </ng-container>
  <ng-container matColumnDef="expenditure">
    <th mat-header-cell *matHeaderCellDef>Total Expenditure</th>
    <td mat-cell *matCellDef="let row">
      <div class="progress">
        <mat-progress-bar mode="determinate" [value]="row.expenditure">
        </mat-progress-bar>
        {{ row.expenditure }}%
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price(PKR)</th>
    <td mat-cell *matCellDef="let row">{{ row.price }}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button><mat-icon>delete_outline</mat-icon></button>
      <button mat-icon-button>
        <mat-icon>edit_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
