<div class="wrapper">
  <div class="title">Delete Expense</div>

  <form [formGroup]="fg">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" type="text" />
    </mat-form-field>

    <div class="form-fields">
      <mat-form-field>
        <mat-label>Price(PKR)</mat-label>
        <input matInput formControlName="price" type="number" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="buttons">
      <button mat-stroked-button (click)="close()">Cancel</button>
      <button
        mat-flat-button
        [disabled]="fg.invalid"
        (click)="handleDeleteExpense()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
