<app-header title="Analysis"></app-header>

<div class="widget">
  <div class="toolbar">
    <div class="name">Expenses</div>

    <mat-form-field>
      <mat-label>Range</mat-label>
      <mat-select (valueChange)="dateRangeChanged($event)">
        <mat-option value="1">Last Month</mat-option>
        <mat-option value="6">Last 6 Months</mat-option>
        <mat-option value="12">Last 12 Months</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="chart-wrapper">
    <div class="chart">
      <ngx-charts-line-chart
        [animations]="true"
        [legend]="true"
        legendTitle=""
        [yAxis]="true"
        [xAxis]="true"
        [results]="data"
        [autoScale]="true"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
